
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root {
    --primary-color:   #619159;  /* Warm bold red */
    --secondary-color: #666666;  /* Mid-gray for UI elements */
    --dark-color:      #333333;  /* Deep gray for text/headings */
    --light-color:     #ffffff;  /* Clean white */
    --neutral-color:   #f5f0e1;  /* Natural beige (optional accent) */
  }
  
  .navbar-toggler{
    box-shadow: none;
  }


.max_width{
    max-width: 1300px;
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    color: var(--light-color);
}

h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-color);
}

h3{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--light-color);
}

h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--light-color);
}

h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--dark-color);
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--secondary-color);
}

li{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--primary-color);
    margin-bottom: 12px;
}

/* Header */

.navbar{
    background: url(./images/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.header_second_row{
    padding: 2% 5% 2% 5%;
}

nav.scrolled{
    background-color: #ffffffad;
    background-image: none;
}

nav.scrolled .header_first_row{
    display: none;
}


nav .nav-link{
    color: var(--dark-color);
    font-weight: 500;
    line-height: 1;
    font-size: 16px;
    padding: 12px 16px !important;
}

nav .nav-link:hover, nav .nav-link:active, nav .nav-link:focus, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus{
    color: var(--secondary-color);
}

.navbar-brand{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--dark-color);
    margin: 0;
}

.header_mail_row{
    color: var(--dark-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

.header_first_row{
    border-bottom: 1px solid var(--dark-color);
    padding: 1% 5% 1% 5%;
}

.header_mail_row i{
    margin-right: 8px;
    font-size: 20px;
}

/* Header */

/* Hero */

.hero img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 800px;
}

.hero .carousel-item{
    position: relative;
    min-height: 600px;
}

.hero .carousel-item::before{
    content: "";
    background-color: #0000004b;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.hero_inner_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    z-index: 9999;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.8s ease-in-out 0.3s, 
                filter 0.8s ease-in-out 0.3s;
}

/* When the slide becomes active, the text appears */
.hero .carousel-item.active .hero_inner_div {
    opacity: 1;
    filter: blur(0);
}

.hero{
    padding-top: 30px;
}



/* Hero */


/* About Us */

.about_us{
    padding: 5%;
}

.small_heading{
    position: relative;
    padding-left: 50px;
}

.small_heading::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--dark-color);
    position: absolute;
    left: 0;
    top: 12px;
}

/* About Us */

.product_we_make{
    padding: 5%;
}

.product_we_make li i{
    margin-right: 12px;
}

.testimonial-box{
    background: #ffffff;
    padding: 40px 30px;
    position: relative;
    border: 1px solid #f5f5f5;
    text-align: left;
    overflow: hidden;
    border-bottom: 3px solid #606060;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.testimonials .quote-icon {
    position: absolute;
    color: #f9f9f9;
    font-size: 28px;
    right: 30px;
    transform: rotate(180deg);
    top: 50px;
}

.testimonials .inner-test {
    border-top: 2px solid #EEE;
}

.testimonials .inner-test {
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 15px;
    border-top: 2px solid #EEE;
}

.testimonials .inner-test p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.serv_info_div img{
    object-fit: cover;
    height: auto;
    width: 100% !important;
    max-height: 350px;
}

.serv_info_div{
    height: 100%;
    background-color: #000000;
}

.testimonials{
    padding: 5%;
    background-color: #f7f7f7;
}

.our_services{
    padding: 5%;
    background-image: url(images/processback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.service_image{
    position: relative;
    cursor: pointer;
}

.service_image::before{
    background-color: #00000048;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.service_info{
    position: relative;
}

.service_info h2{
    position: absolute;
    left: 50%;
    color: #ffffff;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.service_info_second{
    position: absolute;
    left: 50%;
    color: #ffffff;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: none;
    color: #ffffff;
    width: 100%;
}

.service_info_second li{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.service_info_second li i{
    display: none;
}

.service_info:hover .service_info_second{
    display: block;   
}

.service_info:hover h2{
    display: none;
}

.service_image_two{
    position: relative;
    cursor: pointer;
    height: 100%;
}

.service_image_two::before{
    background-color: #00000048;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.service_info_two{
    position: relative;
    height: 100%;
}

.service_info_two h2{
    position: absolute;
    left: 50%;
    color: #ffffff;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.service_info_second_two{
    position: absolute;
    left: 50%;
    color: #ffffff;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: none;
    color: #ffffff;
    width: 100%;
}

.service_info_second_two li{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.service_info_second_two li i{
    display: none;
}

.service_info_two:hover .service_info_second_two{
    display: block;   
}

.service_info_two:hover h2{
    display: none;
}

.footer_main {
    background: url(./images/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 5%;
}

.footer_secondary {
    padding: 0px 10px !important;
    display: flex;
}

.footer_logo{

font-size: 30px;
font-weight: 700;
line-height: 1;
color: var(--dark-color);
margin: 0;
text-decoration: none;
}

.footer_secondary li {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-weight: 400;
}

.footer_info  {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #333;

}

.footer_info_img {
    background-color: #333;
    border-radius: 30px;
    margin-right: 0.5rem;
}


@media (max-width: 767px){
    h1{
        font-size: 32px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }

    .hero_inner_div{
        padding: 20px;
    }
    
    .service_image{
        margin-bottom: 32px;
    }

    .serv_info_div img{
        max-height: 250px;
    }

    .product_we_make .row{
        flex-direction: column-reverse;
    }
}